@charset "utf-8";

body {
   

}

.dino {
        width: 60px;
        height: 60px;
        background-image: url('images/dino.png');
        position: absolute;
        bottom: 3px;
}

.cactus {
    width: 60px;
    height: 60px;
    background-image: url('images/cactus.png');
    position: absolute;
    bottom: 0;
}

.game-over {
    text-align: center;
    font-size: 50px;
    color: #666;
    margin-top: 50px;
    font-family: Arial;
}

@keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}

.game {
    background-image: url('images/background.png');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    animation slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}
